* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-area {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-logo {
  height: 100px;
  width: 100px;
}

.nav-area .desktop-nav {
  display: flex;
}

.desktop-nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-item {
  margin-left: 25px;
  background-color: white;
  border: 1px;
  font-size: 1.5em;
  cursor: pointer;
}

.nav-item::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #01b4e4;
  display: block;
}

.nav-item:hover::after {
  width: 100%;
}

.select-area {
  margin: 0 20px;
}

.page-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-area button {
  margin: 10px 150px;
  color: #01b4e4;
  background-color: white;
  border: 1px solid #01b4e4;
  height: 30px;
  width: 50px;
  border-radius: 5px;
}

.movie-card-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-card {
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #01b4e4;
}

@media screen and (min-width: 800px) {
  .movie-card-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .movie-card {
    height: 300px;
    width: 200px;
    padding: 20px;
    border: 2px solid #01b4e4;
  }
}
